<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Another Great Theme for you Project</h2>
                <p>Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->



<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle-o"></i> In hac habitasse platea</h3>
                <p>Lorem ipsum dolor sit amet, <a>Consectetur adipiscing</a> elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum primis in faucibus.  Etiam placerat nunc ut tellus tristique, non posuere neque iaculis.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-calendar"></i> Suspendisse sed lectus mauris</h3>
                <p>Nam fringilla quis enim in eleifend. Suspendisse sed lectus mauris. Nam commodo, arcu et posuere placerat, tellus tortor dignissim eros, sit amet eleifend urna lorem sit amet nulla. Praesent sem nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-car"></i> Nunc placera vestibulum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc placerat diam quis nisl vestibulum dignissim. In hac habita. Donec pellentesque feugiat leo a adipiscing. Pellentesque quis tristique eros, sed rutrum mauris.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio Goes Here</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="https://static.pexels.com/photos/5358/sea-beach-holiday-vacation-large.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="https://static.pexels.com/photos/9746/people-mother-family-father-large.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="https://static.pexels.com/photos/25349/pexels-photo-25349-large.jpg">
                </a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Etharums ser quidem re vitaes nemo:</h2>
                <ul>
                    <li>Nam fringilla quis enim in eleifend</li>
                    <li>Suspendisse sed lectus mauris</li>
                    <li>Nam commodo, arcu et posuere placerat, tellus tortor.</li>
                    <li>Praesent sem nibh. Pellentesque habitant morbi tristique.</li>
                    <li>Nam fringilla quis enim in eleifend</li>
                    <li>Suspendisse sed lectus mauris</li>
                    <li>Nam commodo, arcu et posuere placerat, tellus tortor.</li>
                    <li>Praesent sem nibh. Pellentesque habitant morbi tristique.</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="https://static.pexels.com/photos/363/nature-sunny-people-clouds-large.jpg">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="https://static.pexels.com/photos/1518/black-and-white-city-bird-people-large.jpg">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Etharums ser quidem re vitaes nemo:</h2>
                <ul>
                    <li>Nam fringilla quis enim in eleifend</li>
                    <li>Suspendisse sed lectus mauris</li>
                    <li>Nam commodo, arcu et posuere placerat, tellus tortor.</li>
                    <li>Praesent sem nibh. Pellentesque habitant morbi tristique.</li>
                    <li>Nam fringilla quis enim in eleifend</li>
                    <li>Suspendisse sed lectus mauris</li>
                    <li>Nam commodo, arcu et posuere placerat, tellus tortor.</li>
                    <li>Praesent sem nibh. Pellentesque habitant morbi tristique.</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>Praesent sem nibh. Pellentesque habitant morbi tristique</h4>
            <p>Praesent sem nibh. Pellentesque habitant morbi tristique. Nam commodo, arcu et posuere placerat habitant morbi tristique.</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="#">See More </a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
